<html>

<head>
  <title>公告 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user'>
      <div class='website-title'><a href='/'><span class='website-name'>企业自动化办公系统</span></a></div>
      <div class="dropdown userinfo">
        <image class='avatar img-circle' v-bind:src='user.头像'>&nbsp; <a id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href>{{user.姓}}{{user.名}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="usermenu">
            <li><a href="/signout">退出登录</a></li>
          </ul>
      </div>
    </div>
    <div class='main row'>
      <div class='col-md-3'>
        <div class="list-group"> <a href="/project" class="list-group-item">
            公告列表
          </a> <a href="/project/new" class="list-group-item">发布公告</a></div>
      </div>
      <div class='col-md-9 columnview'>
        <div id='tip'>
          <div class="alert alert-success" role="alert" v-if='show'><b>{{title}}</b>&nbsp;{{content}}</div>
        </div>
        <div id='announcementdetail' class="columnview">
          <h1>{{detail.标题}}</h1>
          <div v-html="detail.正文" class='columnview announcementbody'></div>
          <hr>
          <div class='columnview'>
            <b>阅读过该公告的同事</b>
            <div v-for='user in detail.已读清单' class='readlist-cell'>
              <image v-bind:src='user.头像' class='avatar img-circle'> {{user.姓}}{{user.名}} 在 {{user.时间}} 阅读了这个公告。
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 提示框 -->
<script src="/public/js/tips.js"></script>
<!-- 获取公告列表 -->
<script src="/public/js/announcementdetail.js"></script>

</html>