<html>

<head>
  <title>专案 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user' v-html='userinfo'>
    </div>
    <div class='main row'>
      <div class="col-md-3 list-group" id='menu'>
        <a href="/project" class="list-group-item">专案列表</a>
        <a href="/project/new" class="list-group-item">新建专案</a>
        <a href="/project/template" class="list-group-item" v-if='(user.node.ispersonnel) || (user.status == 2)'>模板</a>
        <a href="/project/flow" class="list-group-item" v-if='(user.node.ispersonnel) || (user.status == 2)'>流程</a>
      </div>
      <div class='col-md-9 columnview' id='newflow'>
        <h2>新建流程</h2>
        <div class="form-group columnview">
          <label for="field-name">流程识别名</label>
          <input class="form-control" id="field-name" v-model='flow.title'>
          <p class="help-block">为这个流程起一个易于识别的名称</p>
        </div>
        <div class="form-group columnview">
          <label for="field-description">流程描述</label>
          <textarea class="form-control" id="field-description" v-model='flow.description'></textarea>
          <p class="help-block">描述这个流程的具体作用</p>
        </div>
        <label>流程步骤</label>
        <div v-for='(item,index) in flow.flow' class='columnview'>
          <div class="alert alert-warning columnview" role="alert" v-if='index == 9'><p><strong>真的需要那么长的流程吗？</strong></p><p>这个流程已经超过 10 个步骤了！过长的流程对企业的效率提升不利，建议考虑精简此流程。</p></div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>第 {{index+1}} 步</strong>
          </div>
          <div class="panel-body">
            <select class="form-control" v-model='flow.flow[index]'>
              <option v-bind:value='-1' v-if='index == 0'>专案申请人所在部门的经理</option>
              <option v-bind:value='-2' v-if='index != 0'>当上步负责人选择通过时，由其决定此步骤</option>
              <option v-for='user in users' v-bind:value='user.id'>{{user.firstname}}{{user.lastname}}</option>
            </select>
          </div>
          <div class="panel-footer"><button class="btn btn-default btn-sm" v-on:click='deleteFlowStep(index)'>删除此步骤</button></div>
        </div>
      </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <button class="btn btn-default" onclick='addFlowStep()'>新增一个流程步骤</button>
          </div>
        </div>
        <btn class="btn btn-primary" v-on:click='submit'>提交</btn>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 提示框 -->
<script src="/public/js/tips.js"></script>
<!-- 新流程 -->
<script src="/public/js/newflow.js"></script>
<!-- 菜单 -->
<script src="/public/js/menu.js"></script>
</html>
