html
  head
    block head
    link(rel='stylesheet' href='/resource/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/public/css/style.css')
    script(src='/resource/bootstrap/dist/js/bootstrap.min.js')
    script(src='/resource/vue/dist/vue.js')
    script(src='/resource/vue-resource/dist/vue-resource.min.js')
  body
    block body
