<html>

<head>
  <title>人事 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user'>
      <div class='website-title'><a href='/'><span class='website-name'>企业自动化办公系统</span></a></div>
      <div class="dropdown userinfo">
        <image class='avatar img-circle' v-bind:src='user.avatar'>&nbsp; <a id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href>{{user.姓}}{{user.名}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="usermenu">
            <li><a href="/signout">退出登录</a></li>
          </ul>
      </div>
    </div>
    <div class='main row'>
      <div class='col-md-3' id='menu'>
        <div class="list-group"> <a href="/node" class="list-group-item">所有部门</a> <a href="/node/new" class="list-group-item active">新建部门</a></div>
      </div>
      <div class='col-md-9 columnview'>
        <div id='newnode' class='columnview'>
          <h3>创建新部门</h3>
          <div class='columnview'>
            <div class="form-group columnview">
              <label for="form-nodename">部门名称</label>
              <input class="form-control" id="form-nodename" v-model='node.name'> </div>
            <div class="form-group columnview">
              <label for="form-managerusername">部门经理的用户名</label>
              <input class="form-control" id="form-managerusername" v-model='node.manager'> </div>
            <div class="form-group columnview">
              <label>这是人事部吗？</label>
            <div class="radio columnview">
              <label>
                <input type="radio" value=true v-model='node.ispersonnel'> 是的，这个部门是一个人事部门 </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" value=false v-model='node.ispersonnel'> 不是，这只是一个普通部门 </label>
            </div>
              <p class="help-block">人事部门拥有部分系统高级权限，包括帐户恢复、新建帐户、新建专案模板等。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 菜单 -->
<script src="/public/js/menu.js"></script>
<!-- 菜单 -->
<script src="/public/js/newnode.js"></script>

</html>
