<html>

<head>
  <title>专案 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user'>
      <div class='website-title'><a href='/'><span class='website-name'>企业自动化办公系统</span></a></div>
      <div class="dropdown userinfo">
        <image class='avatar img-circle' v-bind:src='user.头像'>&nbsp; <a id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href>{{user.姓}}{{user.名}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="usermenu">
            <li><a href="/signout">退出登录</a></li>
          </ul>
      </div>
    </div>
    <div class='main row'>
      <div class='col-md-3'>
        <div class="list-group" id='menu'>
          <a href="/project" class="list-group-item">专案列表</a>
          <a href="/project/new" class="list-group-item active">新建专案</a>
          <a href="/project/template" class="list-group-item" v-if='(user.所属部门.是人事部) || (user.帐户状态 == 2)'>模板</a></div>
      </div>
      <div class='col-md-9 columnview'>
        <div id='newproject' class="columnview">
          <div v-if='choosetemplate' class='columnview'>
            <h3>选择一个专案模板</h3>
            <div v-if='templates[0]' class='columnview'>
              <select multiple class="form-control" v-model="choosedtemplate" v-bind:disabled='choose_disable'>
                <option v-for='template in templates' v-bind:value='template.id'>{{template.标题}}</option>
              </select>
              <div>
                <button class="btn btn-default" v-on:click='whichtemplate()' v-bind:disabled='choose_disable'>继续</button>
                <div class="progress" v-if='choose_disable'>
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
              </div>
            </div>
          </div>
          <div v-if='fillproject' class='columnview'>
            <h3>{{template.标题}}<span class='small'><br><br>{{template.描述}}</span></h3>
            <div class='columnview'>
              <div v-for='(field, index) in template.表字段'>
                <div class="form-group columnview" v-if='field.类型 == "数字"'>
                  <label v-bind:for='"field-"+index'>{{field.名称}}</label>
                  <input type="number" class="form-control" v-bind:id='"field-"+index' v-model="project_fill[index]">
                  <p class="help-block">{{field.描述}}</p>
                </div>
                <div class="form-group columnview" v-else-if='field.类型 == "字段"'>
                  <label v-bind:for='"field-"+index'>{{field.名称}}</label>
                  <input type="text" class="form-control" v-bind:id='"field-"+index' v-model="project_fill[index]">
                  <p class="help-block">{{field.描述}}</p>
                </div>
                <div class="form-group columnview" v-else-if='field.类型 == "文本"'>
                  <label v-bind:for='"field-"+index'>{{field.名称}}</label>
                  <textarea class="form-control" rows="3" v-bind:id='"field-"+index' v-model="project_fill[index]"></textarea>
                  <p class="help-block">{{field.描述}}</p>
                </div>
              </div>
              <div>
                <button class="btn btn-primary" v-on:click='submit()'>提交</button>
                <button class="btn btn-default" v-on:click='back()'>重新选择模板</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 提示框 -->
<script src="/public/js/tips.js"></script>
<!-- 新专案 -->
<script src="/public/js/newproject.js"></script>
<!-- 菜单 -->
<script src="/public/js/menu.js"></script>
</html>