<html>

<head>
  <title>专案 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user'>
      <div class='website-title'><a href='/'><span class='website-name'>企业自动化办公系统</span></a></div>
      <div class="dropdown userinfo">
        <image class='avatar img-circle' v-bind:src='user.头像'>&nbsp; <a id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href>{{user.姓}}{{user.名}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="usermenu">
            <li><a href="/signout">退出登录</a></li>
          </ul>
      </div>
    </div>
    <div class='main row'>
      <div class='col-md-3'>
        <div class="list-group" id='menu'>
          <a href="/project" class="list-group-item">专案列表</a>
          <a href="/project/new" class="list-group-item">新建专案</a>
          <a href="/project/template" class="list-group-item" v-if='(user.所属部门.是人事部) || (user.帐户状态 == 2)'>模板</a></div>
      </div>
      <div class='col-md-9 columnview'>
        <div id='tip'>
          <div class="alert alert-success" role="alert" v-if='show'><b>{{title}}</b>&nbsp;{{content}}</div>
        </div>
        <div id='projectdetail' class='columnview'>
        <h2>{{project.模板}} 
          <span v-if='project.状态 == 0' class="label label-warning">待提交</span> 
          <span v-if='project.状态 == 1' class="label label-success">审核中</span> 
          <span v-if='project.状态 == -1' class="label label-default">已归档</span> 
          <small>由 {{project.申请人}} 在 {{project.申请时间}} 新建</small>
        </h2>
        <table class="table">
          <thead>
            <tr>
              <th>字段</th>
              <th>内容</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='item in project.数据'>
              <td>{{item.名称}}</td>
              <td>{{item.数据}}</td>
            </tr>
          </tbody>
        </table>
        <h3>专案操作历史</h3>
        <div v-if='project.流程历史[0] != null'>
          <table class="table">
            <thead>
              <tr>
                <th>时间</th>
                <th>操作人</th>
                <th>行为</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='item in project.流程历史'>
                <td>{{item.操作时间}}</td>
                <td>{{item.操作人}}</td>
                <td>{{item.行为}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-else>该专案还没有任何操作历史。</div>
        <div v-for='permission in project.操作权限'>
          <div v-if='(permission == "申请") && (project.状态 == 0)'>
            <button class="btn btn-default" v-on:click='submit()'>提交审核</button>
            <button class="btn btn-default">归档</button>
          </div>
          <div v-else-if='(permission == "审核") && (project.状态 == 1)'>
            <button class="btn btn-default" v-on:click="review('同意')">同意该专案</button>
            <button class="btn btn-default" v-on:click="review('拒绝')">拒绝</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 获取模板详情 -->
<script src="/public/js/getprojectdetail.js"></script>
<!-- 提示框 -->
<script src="/public/js/tips.js"></script>
<!-- 菜单 -->
<script src="/public/js/menu.js"></script>
</html>