<html>

<head>
  <title>专案 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user'>
      <div class='website-title'><a href='/'><span class='website-name'>企业自动化办公系统</span></a></div>
      <div class="dropdown userinfo">
        <image class='avatar img-circle' v-bind:src='user.头像'>&nbsp; <a id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href>{{user.姓}}{{user.名}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="usermenu">
            <li><a href="/signout">退出登录</a></li>
          </ul>
      </div>
    </div>
    <div class='main row'>
      <div class='col-md-3'>
        <div class="list-group" id='menu'>
          <a href="/project" class="list-group-item active">专案列表</a>
          <a href="/project/new" class="list-group-item">新建专案</a>
          <a href="/project/template" class="list-group-item" v-if='(user.所属部门.是人事部) || (user.帐户状态 == 2)'>模板</a></div>
      </div>
      <div class='col-md-9 columnview'>
        <div id='tip'>
          <div class="alert alert-success" role="alert" v-if='show'><b>{{title}}</b>&nbsp;{{content}}</div>
        </div>
        <div id='projectlist' class="columnview">
          <div>
            <ul class="nav nav-pills">
              <li role="presentation" class="active" v-if='panel == 1'><a href="#" v-on:click='changepanel(1)'>待处理的</a></li>
              <li role="presentation" v-else><a href="#" v-on:click='changepanel(1)'>待处理的</a></li>
              <li role="presentation" class="active" v-if='panel == 2'><a href="#" v-on:click='changepanel(2)'>我提交的</a></li>
              <li role="presentation" v-else><a href="#" v-on:click='changepanel(2)'>我提交的</a></li>
            </ul>
          </div>
          <div class='cards columnview' v-if='projectlist != "null"'>
            <a v-bind:href='"/project/detail?id="+project.id' v-for='project in projectlist'>
              <div class="panel panel-default">
                <div class="panel-body columnview">
                  <p class='projecttitle'>{{project.模板}}</p>
                  <p class='projectdes'>由 {{project.申请人}} 在 {{project.申请时间}} 提交</p>
                </div>
              </div>
            </a>
          </div>
          <div class='cards columnview' v-else>暂无相应专案。</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 获取专案列表 -->
<script src="/public/js/getprojectlist.js"></script>
<!-- 提示框 -->
<script src="/public/js/tips.js"></script>
<!-- 菜单 -->
<script src="/public/js/menu.js"></script>
</html>