<html>

<head>
  <title>专案 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user' v-html='userinfo'>
   </div>
    <div class='main row'>
      <div class="col-md-3 list-group" id='menu'>
          <a href="/project" class="list-group-item">专案列表</a>
          <a href="/project/new" class="list-group-item">新建专案</a>
          <a href="/project/template" class="list-group-item" v-if='(user.node.ispersonnel) || (user.status == 2)'>模板</a>
          <a href="/project/flow" class="list-group-item" v-if='(user.node.ispersonnel) || (user.status == 2)'>流程</a>
        </div>
      <div class='col-md-9 columnview'>
        <div id='newtemplate' class='columnview'>
          <h3>新建专案模板</h3>
          <div class='columnview'>
            <div class="form-group columnview">
              <label for="field-title">模板标题</label>
              <input class="form-control" id="field-title" v-model="templatetitle">
              <p class="help-block">用简单的语言描述专案模板。</p>
            </div>
            <div class="form-group columnview">
              <label for="field-des">描述</label>
              <textarea class="form-control" rows="3" id='field-des' v-model="templatedescription"></textarea>
              <p class="help-block">简述相应专案的作用、使用方法等。</p>
            </div>
            <label for="field-des">模板表单字段</label>
            <div class='columnview'>
              <div v-for='(field, index) in fields'>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>第 {{index+1}} 个字段<span v-if='fields[index].title'>：{{fields[index].title}}</span></strong>
                  </div>
                  <div class="panel-body columnview">
                      <div class="form-group columnview">
                        <label v-bind:for='"fieldname-"+index'>名称</label>
                        <input v-bind:id='"fieldname-"+index' class="form-control" v-model="fields[index].title">
                        <p class="help-block">对方需要填写的信息是什么？</p>
                      </div>
                      <div class="form-group columnview">
                        <label v-bind:for='"fielddescription-"+index'>说明</label>
                        <input v-bind:id='"fielddescription-"+index' class="form-control" v-model="fields[index].description">
                        <p class="help-block">简单描述这个字段的填写格式、要求等。</p>
                      </div>
                      <div class="form-group columnview">
                        <label v-bind:for='"fieldtype-"+index'>类型</label>
                          <select v-bind:id='"fieldtype-"+index' class="form-control" v-model="fields[index].type">
                            <option value='string'>单行字段</option>
                            <option value='text'>多行文本</option>
                            <option value='number'>数字</option>
                          </select>
                          <p class="help-block">这个字段应该要求对方填写什么类型的数据？</p>
                      </div>
                  </div>
                  <div class="panel-footer"><button class="btn btn-default" v-on:click='delfield(index)'>删除这个字段</button></div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-body">
                  <button class='btn btn-default' v-on:click='addfield()'>新建一个字段</button>
                </div>
              </div>
            </div>
          </div>
          <button class='btn btn-primary' v-on:click='submit()'>填写完毕，提交模板</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 新建模板 -->
<script src="/public/js/newtemplate.js"></script>
<!-- 菜单 -->
<script src="/public/js/menu.js"></script>
</html>
