<html>

<head>
  <title>专案 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user'>
      <div class='website-title'><a href='/'><span class='website-name'>企业自动化办公系统</span></a></div>
      <div class="dropdown userinfo">
        <image class='avatar img-circle' v-bind:src='user.头像'>&nbsp; <a id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href>{{user.姓}}{{user.名}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="usermenu">
            <li><a href="/signout">退出登录</a></li>
          </ul>
      </div>
    </div>
    <div class='main row'>
      <div class='col-md-3'>
        <div class="list-group"> <a href="/project" class="list-group-item">专案列表</a> <a href="/project/new" class="list-group-item">新建专案</a> <a href="/project/template" class="list-group-item">模板</a></div>
      </div>
      <div class='col-md-9 columnview'>
        <div id='tip'>
          <div class="alert alert-success" role="alert" v-if='show'><b>{{title}}</b>&nbsp;{{content}}</div>
        </div>
        <div id='templatedetail' class='columnview'>
          <h3>{{template.标题}}
            <span v-if='template.状态 == 0' class="label label-warning">草稿</span> 
            <span v-if='template.状态 == 1' class="label label-success">上线</span> 
            <span v-if='template.状态 == -1' class="label label-default">已归档</span> 
            <span class='small'>创建于 {{template.创建时间}}</span></h3>
          <p>{{template.描述}}</p>
          <h4>模板字段</h4>
          <table class="table">
          <thead>
            <tr>
              <th>名称</th>
              <th>描述</th>
              <th>数据类型</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='item in template.表字段'>
              <td>{{item.名称}}</td>
              <td>{{item.描述}}</td>
              <td>{{item.类型}}</td>
            </tr>
          </tbody>
        </table>
          <h4>专案流程路由</h4>
          <table class="table">
          <thead>
            <tr>
              <th>条件</th>
              <th>流程路由</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='item in template.流程'>
              <td v-if='item.判断 == "其他"'>不符合上述情况时</td>
              <td v-else>当&nbsp;{{item.判断.字段}}&nbsp;
                <span v-if='item.判断.条件 == ">"'>大于</span>
                <span v-if='item.判断.条件 == ">="'>大于或等于</span>
                <span v-if='item.判断.条件 == "<"'>小于</span>
                <span v-if='item.判断.条件 == "<="'>小于或等于</span>
                <span v-if='item.判断.条件 == "="'>等于</span>
                &nbsp;{{item.判断.基准值}} 时
              </td>
              <td>{{item.流程}}</td>
            </tr>
          </tbody>
        </table>
          <div v-if='template.状态 == 0'>
            <button class="btn btn-primary" v-on:click='submit()'>发布</button>
            <button class="btn btn-default">归档</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 获取专案详情 -->
<script src="/public/js/templatedetail.js"></script>
<!-- 提示框 -->
<script src="/public/js/tips.js"></script>
</html>