<html>

<head>
  <title>专案 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user' v-html='userinfo'></div>
    <div class='main row'>
      <div class="col-md-3 list-group" id='menu'>
        <a href="/project" class="list-group-item">专案列表</a>
        <a href="/project/new" class="list-group-item">新建专案</a>
        <a href="/project/template" class="list-group-item" v-if='(user.node.ispersonnel) || (user.status == 2)'>模板</a>
        <a href="/project/flow" class="list-group-item" v-if='(user.node.ispersonnel) || (user.status == 2)'>流程</a>
      </div>
      <div class='col-md-9 columnview'>
        <div id='tip'>
          <div class="alert alert-success" role="alert" v-if='show'><b>{{title}}</b>&nbsp;{{content}}</div>
        </div>
        <div id='templatedetail' class='columnview'>
          <h3>{{template.title}}
            <span v-if='template.status == 0' class="label label-warning">草稿</span>
            <span v-if='template.status == 1' class="label label-success">上线</span>
            <span v-if='template.status == -1' class="label label-default">已归档</span>
            <span class='small'>创建于 {{template.createat}}</span></h3>
          <p>{{template.description}}</p>
          <h3>模板字段</h3>
          <table class="table">
          <thead>
            <tr>
              <th>名称</th>
              <th>描述</th>
              <th>数据类型</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='item in template.sheets'>
              <td>{{item.title}}</td>
              <td>{{item.description}}</td>
              <td>
                <span v-if='item.type=="string"'>单行字段</span>
                <span v-if='item.type=="text"'>多行文本</span>
                <span v-if='item.type=="number"'>数字</span>
              </td>
            </tr>
          </tbody>
        </table>
        <h3>绑定的流程</h3>
        <div v-if='template.flow.length != 0' class='columnview'>
          <div class="panel panel-default" v-for='(item, index) in template.flow'>
            <div class="panel-heading">
              <strong>
                <span v-if='item.judge != "other"'>
                  <span v-if='item.judge.field != "priority"'>
                    当 {{template.sheets[item.judge.field].title}}
                    <span v-if='item.judge.condition == ">"'>大于</span>
                    <span v-else-if='item.judge.condition == "<"'>小于</span>
                    <span v-else-if='item.judge.condition == ">="'>不小于</span>
                    <span v-else-if='item.judge.condition == "<="'>不大于</span>
                    <span v-else-if='item.judge.condition == "="'>是</span>
                    {{item.judge.value}} 时
                  </span>
                  <span v-else>
                    当优先级为
                    <span v-if='item.judge.value == 1'>紧急</span>
                    <span v-if='item.judge.value == 2'>普通</span>
                    <span v-if='item.judge.value == 3'>低优先级</span>
                    时
                  </span>
                </span>
                <span v-else>
                  <span v-if='index != 0'>不符合上述情况时</span>
                  <span v-else>所有专案都将使用该流程</span>
                </span>
              </strong>
            </div>
            <div class="panel-body">
              <div class='columnview'>
              <strong>使用「{{item.flow.title}}」流程</strong>
              <div class='columnview'>
                <div v-for='(people, j) in item.flow.flow' class='flowstep'>
                  <div v-if='people == -1'>
                    <div>
                      <image src='/public/images/default-avatar.jpg' class='avatar-medium img-circle'></image>
                    </div>
                    <div class='columnview'>
                      <div class='flow-username'>申请人的部门经理</div>
                      <div class='flow-second'>第 {{index+1}} 步</div>
                    </div>
                  </div>
                  <div v-else-if='people == -2'>
                    <div>
                      <image src='/public/images/default-avatar.jpg' class='avatar-medium img-circle'></image>
                    </div>
                    <div class='columnview'>
                      <div class='flow-username'>由上一步决定此步骤负责人</div>
                      <div class='flow-second'>第 {{index+1}} 步</div>
                    </div>
                  </div>
                  <div v-else>
                    <div>
                      <image v-bind:src='people.avatar' class='avatar-medium img-circle'></image>
                    </div>
                    <div class='columnview'>
                      <div class='flow-username'>{{people.firstname}}{{people.lastname}}</div>
                      <div class='flow-second'>第 {{j+1}} 步&nbsp;&middot;&nbsp;{{people.node}}</div>
                    </div>
                  </div>
                  </div>

                </div>
              </div>
            </div>
            </div>
          </div>
          <div v-else>该模板暂未绑定任何流程。</div>
          <div v-if='template.status == 0' class='columnview'>
            <h3>操作该模板</h3>
            <div><button class="btn btn-primary" v-on:click='submit()'>发布</button>
            <button class="btn btn-default" v-on:click='bind()'>绑定流程</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
          </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 获取专案详情 -->
<script src="/public/js/templatedetail.js"></script>
<!-- 提示框 -->
<script src="/public/js/tips.js"></script>
<!-- 菜单 -->
<script src="/public/js/menu.js"></script>
</html>
