<html>

<head>
  <title>人事 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
    <div class='webhead' id='user' v-html='userinfo'>
    </div>
    <div class='main row'>
      <div class='col-md-3' id='menu'>
        <div class="list-group">
          <a href="/user" class="list-group-item">所有同事</a>
          <a href="/user/new" class="list-group-item active" v-if='user.node.ispersonnel'>创建新帐户</a></div>
      </div>
      <div class='col-md-9 columnview'>
        <div id='newuser' class='columnview'>
          <h3>创建新帐户</h3>
          <div class="form-group columnview">
            <label for="form-username">用户名</label>
            <input class="form-control" id="form-username" v-model='user.username'>
          </div>
          <div class="form-group columnview">
            <label for="form-firstname">姓 / First Name</label>
            <input class="form-control" id="form-firstname" v-model='user.firstname'>
          </div>
          <div class="form-group columnview">
            <label for="form-lastname">名 / Last Name</label>
            <input class="form-control" id="form-lastname" v-model='user.lastname'>
          </div>
          <div class="form-group columnview">
            <label for="form-email">电邮地址</label>
            <input type="email" class="form-control" id="form-email" v-model='user.mail'>
          </div>
          <div class="form-group columnview">
            <label for="form-email">头像</label>
            <input type="email" class="form-control" id="form-email" v-model='user.avatar'>
          </div>
          <div class="form-group columnview">
            <label for="form-node">所属部门</label>
            <select class="form-control" id='form-node' v-model='user.node'>
              <option v-for='node in nodes' v-bind:value='node.id'>{{node.name}}</option>
            </select>
          </div>
          <div>
            <button class='btn btn-primary' v-on:click='submit()'>新建帐户</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 获取所有同事列表 -->
<script src="/public/js/newuser.js"></script>
<!-- 菜单 -->
<script src="/public/js/menu.js"></script>
</html>
