<html>

<head>
  <title>人事 · 企业自动化办公系统</title>
  <!-- 全局、页面 CSS 和 JS -->
  <link rel="stylesheet" href="/public/css/home.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Bootstrap -->
  <script src="/resource/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/resource/bootstrap/dist/css/bootstrap.min.css">
  <script src="/resource/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='flex container'>
     <div class='webhead' id='user' v-html='userinfo'>
    </div>
    <div class='main row'>
      <div class='col-md-3' id='menu'>
        <div class="list-group"> 
          <a href="/user" class="list-group-item active">所有同事</a>
          <a href="/user/new" class="list-group-item" v-if='user.node.ispersonnel'>创建新帐户</a></div>
      </div>
      <div class='col-md-9 columnview'>
        <div id='userlist' class='columnview'>
          <table class="table">
            <thead>
              <tr>
                <th>姓名与头像</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>所属部门</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='user in list'>
                <td><image v-bind:src='user.avatar' class='avatar img-circle'></image> {{user.firstname}}{{user.lastname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.mail}}</td>
                <td>{{user.node.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id='modal'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4> </div>
        <div class="modal-body">
          <p>{{modalContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">好</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</body>
<!-- moment -->
<script src="/resource/moment/min/moment-with-locales.min.js"></script>
<!-- Vue JS -->
<script src="/resource/vue/dist/vue.js"></script>
<script src="/resource/vue-resource/dist/vue-resource.min.js"></script>
<!-- 模态通知框 -->
<script src='/public/js/modal.js'></script>
<!-- 获取用户数据 -->
<script src="/public/js/userinfo.js"></script>
<!-- 获取所有同事列表 -->
<script src="/public/js/getuserlist.js"></script>
<!-- 菜单 -->
<script src="/public/js/menu.js"></script>
</html>